<footer>
    <div>
        <section class="social-network-links">
            <ul>
                <li>
                    <a href="https://twitter.com/arpentorstudio">
                        <img src="{{ "img/icons/twitter.svg" | relURL }}" alt="">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/arpentorstudio/">
                        <img src="{{ "img/icons/linkedin.svg" | relURL }}" alt="">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </section>

        <section>
            <h3>{{ i18n "footerSiteMap" }}</h3>
            <ul>
                {{ range .Site.Menus.footer }}
                <li>
                    <a href="{{ .URL }}">
                        {{ with .Identifier }}<img src="{{ (printf "img/icons/%s.svg" .) | relURL }}" alt="" />{{ end }}
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </section>
    </div>
</footer>
