<header>
    <div>
        <a href="{{ "/" | relLangURL }}">
            <img src="{{ "img/logo.svg" | relURL }}" alt="" />
        </a>

        <hgroup>
            <h1>
                <a href="{{ "/" | relLangURL }}">
                    <span>Arpentor</span>
                    <small>Studio</small>
                </a>
            </h1>
            <ul class="languages">
                {{ range .Translations }}
                <li class="language-link">
                    <a href="{{ .Permalink }}">{{ .Language }}</a>
                </li>
                {{ end }}
            </ul>
        </hgroup>

        <nav>
            <ul class="main">
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
